.text{
   
    font-size: 220%;
    color:white;
    margin-left: 120px;
    font-family: 'Montserrat',sans-serif;
    margin-top: 120px;
  }
  .textt{
    color:white;
    margin-left: 120px;
    font-family:'Gugi',sans-serif;
    margin-top: -30px;
    font-size: 450%;

  }
  .texttt{
    color:white;
    margin-left: 120px;
    font-size: 17px;
    margin-top: -55px;
    

  }
  .textttt{
    color:white;
    margin-left: 120px;
    margin-top: -20px;
    font-size: 17px;

  }
  .texttttt{
    color:white;
    margin-left: 120px;
    margin-top: -20px;
    font-size: 17px;

  }
  .textttttt{
    color:white;
    margin-left: 120px;
    margin-top: -20px;
    font-size: 17px;

  }
  .texttttttt{
    color:white;
    margin-left: 120px;
    margin-top: -20px;
    font-size: 17px;

  }
  .textttttttt{
    color:white;
    margin-left: 120px;
    margin-top: -20px;
    font-size: 17px;

  }
  .texttttttttt{
    color:white;
    margin-left: 120px;
    margin-top: -20px;
    font-size: 17px;

  }